.slider {

}

.slider-container {
    position: relative;
}   

.slider-img {
    height: 400px;
    width: 100%;
    background-size: contain;
    background-position: center;
}

.slider-wrap {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);    
    position: absolute;
    top: 50px;
    left: 15%;
    height: 300px;
    width: 442px;
    padding: 20px;
    box-sizing: border-box;
}

.slider-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.wrap-dot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: #C42F44 1px solid;
    margin: 4px;
    cursor: pointer;
}

.active {
    background: #C42F44;
}

.slider-name {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0;
}

.slider-description {
    font-size: 12px;
    font-weight: 700;
    min-height: 100px;
}

.btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 184px;
    border-radius: 20px;
    background: #C42F44;
    cursor: pointer;
}

.slider-read {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}