.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(#2B1552, #231B27);
}

.header-logo {
    text-transform: uppercase;
    font-size: 32px;
    color: #C42F44;
    min-width: 160px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.header-newest {
    cursor: pointer;
}

.header-popular {
    cursor: pointer;
}

.header-category {
    
}

.header-wrap {
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrow-down {
    margin: 10px;
}

.header-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 442px;
    background: #D9d9d9;
    border-radius: 30px;
    border: 4px solid rgba(196, 47, 68, 0.4);
    height: 50px;
}

.search-text {
    height: 30px;
    min-width: 340px;
    margin-left: 20px;
    background: transparent;
    border: transparent;
    outline: transparent;
    font-size: 16px;
}   

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #C42F44;
    margin: 0px 10px;
    cursor: pointer;
}

.search-icon {
    color: #f3f3f3;
    width: 30px;
    height: 30px;
}

.header-lightmode {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header-avatar {
    width: 70px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
}